/* Tags */

body{
    background-color: #ede7f6;
}

font {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    color: rgb(56, 56, 56);
    font-weight: bold;
}

input[type=text]{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 550px;
    font-size: 20px;
}

textarea{
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
}

table {
    background:white;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 14px;
    margin: 0px auto;
}

td, tr {
    background-color: white;
    border-bottom: 1px solid #CCC;
    color: rgb(56, 56, 56);
    padding: 10px;
}

th {
    background-color: white;
    border-bottom: 2px solid #CCC;
    color: rgb(56, 56, 56);
    padding: 10px;
}

textarea {
    width: 550px;
    height: 100px;
}

a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 15px;
}

/* Classes */

.form {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    color: rgb(56, 56, 56);
}

.aba {
    background-color: rgb(103, 58, 183);
    height: 278px;
}

.trocar_cor:hover td{
    background-color: #dfdfdf;
}

.campo_centralizado {
    height: 825px;
    width: 60%;
    margin: 10px auto;
    background-color: white;
    border-style: outset;
    text-align: center;
}

.campo_checkbox{
    text-align: left;
    width: 550px;
    height: 100px;
    margin: 0 auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 14px;
}

.table_caixa {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 15px auto;
    padding: 20px 0;
    width: 70%;
}

.esquerda {
    text-align: left;
}

.direita  {
    text-align: right;
}


.title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    color: rgba(59, 59, 59, 0.459);
}

.botao {
    background-color: rgb(103, 58, 183);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    margin: auto;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px #666;
}

.efeito_botao:hover {
    background-color: #9265db;
} 

.efeito_botao:active {
    background-color: #9265db;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 

/* Id's */

#divisoria {
    margin-left: 5%; 
    margin-right: 5%; 
    border-bottom: solid 1px rgba(204, 204, 204, 0.274);
}