body{
    background-color: #ede7f6;
}

input[type=text]{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 550px;
    font-size: 20px;
}

textarea{
    font-size: 15px;
}

.aba {
    background-color: rgb(103, 58, 183);
    height: 278px;
}
.trocar_cor:hover td{
    background-color: #dfdfdf;
} 

.campo_centralizado {
    height: 800px;
    width: 60%;
    margin: 20px auto;
    background-color: white;
    border-style: outset;
    text-align: center;
}

.campo_checkbox{
    text-align: left;
    width: 550px;
    height: 100px;
    margin: 0 auto;
}

table {
    background:white;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 14px;
    margin: 0px auto;
}

td, tr {
    background-color: white;
    border-bottom: 1px solid #CCC;
    color: rgb(56, 56, 56);
    padding: 10px;
}

th {
    background-color: white;
    border-bottom: 2px solid #CCC;
    color: rgb(56, 56, 56);
    padding: 10px;
}


.table_caixa {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 15px auto;
    padding: 20px 0;
    width: 70%;
}

.esquerda {
    text-align: left;
}

.direita  {
    text-align: right;
}

textarea {
    width: 550px;
    height: 100px;
}

.title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    color: rgba(59, 59, 59, 0.459);
}